
*{
    text-shadow: 1px 1px 3px #333333;
    text-align: center;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
    background-image: url("https://cdn.hovia.com/app/uploads/Blue-Bulldog-and-Sausage-Dog-Pattern-Pet-Wallpaper-Mural-Plain.jpg")

}

header div {
    text-shadow: 1px 2px 3px #333333;
    font-size: 3em;
    margin:1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    height: 50px;
    padding: 0 20px;
    border-bottom: 4px solid  aliceblue;

}

header nav a {

    color: #000;
    font-weight: 200;
    text-decoration: none;
    font-size: 1.25rem;
}

header nav a:hover {
    color: darkgray;
    text-decoration: none;
    transform: scale(1.1);
}

header nav a:active {
    color: darkgray;
    text-decoration: none;
    transform: scale(1.2);
}

input {
    text-align: left;
}

.searchHistory {
    font-size: 1.5rem;
}

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding:  1rem 0;
    font-size: 1.25rem;
}

#submit{
    
   
    padding: .5rem 1rem;
   background-color: #ffffff;

    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding:  1rem 0;
    font-size: 1.25rem;
}